
{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% load static %}
{% block content %}
              <div class="tm-section-2">
                    <div class="tm-section ">
                    <div class="tm-bg-green ">
                        <div class="container ie-h-align-center-fix">

                                <div class="tm-section  tm-section-pad">
                                  <h2 class="tm-section-title tm-color-primary text-center">Dodavanje Nove Promocije</h2>
                                  <form id="promotionForm tm-bg-white" style="background-color: white; box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
" class="tm-p-4" >
                                    <!-- ID Promocije -->
                                    <div class="form-group">
                                      <label for="promotionId" class="tm-color-primary">ID Promocije:</label>
                                      <input type="number" id="promotionId" class="form-control" placeholder="Unesite ID promocije" required>
                                    </div>
                                    <!-- Izabrane firme za koje važi popust -->
                                    <div class="form-group">
                                      <label for="firmsList" class="tm-color-primary">Firme za koje važi popust:</label>
                                      <select id="firmsList" class="form-control" multiple required>
                                        <!-- Dummy podaci -->
                                        <option value="1">Firma A</option>
                                        <option value="2">Firma B</option>
                                        <option value="3">Firma C</option>
                                        <option value="4">Firma D</option>
                                      </select>
                                      <small class="form-text text-muted">Držite Ctrl (Cmd na Mac-u) za izbor više firmi.</small>
                                    </div>

                                    <!-- Polja za detalje promocije -->
                                    <div class="form-group">
                                      <label for="totalCount" class="tm-color-primary">Ukupno:</label>
                                      <input type="number" id="totalCount" class="form-control" placeholder="Unesite ukupno popusta" required>
                                    </div>
                                    <div class="form-group">
                                      <label for="minAmount" class="tm-color-primary">Minimalan iznos:</label>
                                      <input type="number" id="minAmount" class="form-control" placeholder="Unesite minimalan iznos za popust">
                                    </div>
                                    <div class="form-group">
                                      <label for="flatDiscount" class="tm-color-primary">Flat Popust:</label>
                                      <input type="number" id="flatDiscount" class="form-control" placeholder="Unesite iznos flat popusta">
                                    </div>
                                    <div class="form-group">
                                      <label for="percentDiscount" class="tm-color-primary">Procenat Popusta:</label>
                                      <input type="number" id="percentDiscount" class="form-control" placeholder="Unesite procenat popusta">
                                    </div>
                                    <div class="form-group">
                                      <label for="maxAmount" class="tm-color-primary">Maksimalan iznos:</label>
                                      <input type="number" id="maxAmount" class="form-control" placeholder="Unesite maksimalan iznos popusta">
                                    </div>

                                    <!-- Datum Od i Datum Do -->
                                    <div class="form-group">
                                      <label for="startDate" class="tm-color-primary">Datum Od:</label>
                                      <input type="date" id="startDate" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                      <label for="endDate" class="tm-color-primary">Datum Do:</label>
                                      <input type="date" id="endDate" class="form-control" required>
                                    </div>

                                    <!-- Submit Dugme -->
                                    <button type="submit" class="btn btn-primary">Dodaj Promociju</button>
                                  </form>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
            
            <div class="tm-section tm-position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
                    <polygon fill="#57a13d" points="0,0  100,0  50,60"></polygon>
                </svg> 
            </div>
            
            <div class="green-line"></div>
         
          
        <div >
            <footer class="tm-bg-dark-blue">
                <div class="container">
                    <div class="row">
                        <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                        Copyright &copy; <span class="tm-current-year">2024</span> Teniski Veterani Srbije
                        
                    </div>
                </div>                
            </footer>
        </div>
{% endblock %}

{% block scripts %}
     <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>             <!-- jQuery (https://jquery.com/download/) -->
        <script src="{% static 'js/popper.min.js' %}"></script>                    <!-- https://popper.js.org/ -->       
        <script src="{% static 'js/bootstrap.min.js' %}"></script>                 <!-- https://getbootstrap.com/ -->
        <script src="{% static 'js/datepicker.min.js' %}"></script>                <!-- https://github.com/qodesmith/datepicker -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
        <script src="{% static 'slick/slick.min.js' %}"></script>                  <!-- http://kenwheeler.github.io/slick/ -->
        <script>

            /* Google map
            ------------------------------------------------*/
            var map = '';
            var center;

            function initialize() {
                var mapOptions = {
                    zoom: 13,
                    center: new google.maps.LatLng(-23.013104,-43.394365),
                    scrollwheel: false
                };

                map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

                google.maps.event.addDomListener(map, 'idle', function() {
                  calculateCenter();
              });

                google.maps.event.addDomListener(window, 'resize', function() {
                  map.setCenter(center);
              });
            }

            function calculateCenter() {
                center = map.getCenter();
            }

            function loadGoogleMap(){
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDVWt4rJfibfsEDvcuaChUaZRS5NXey1Cs&v=3.exp&sensor=false&' + 'callback=initialize';
                document.body.appendChild(script);
            } 

            function setCarousel() {
                
                if ($('.tm-article-carousel').hasClass('slick-initialized')) {
                    $('.tm-article-carousel').slick('destroy');
                } 

                if($(window).width() < 438){
                    // Slick carousel
                    $('.tm-article-carousel').slick({
                        infinite: false,
                        dots: true,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    });
                }
                else {
                 $('.tm-article-carousel').slick({
                        infinite: false,
                        dots: true,
                        slidesToShow: 2,
                        slidesToScroll: 1
                    });   
                }
            }

            function setPageNav(){
                if($(window).width() > 991) {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 79
                    });   
                }
                else {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 65
                    });   
                }
            }

            function togglePlayPause() {
                vid = $('.tmVideo').get(0);

                if(vid.paused) {
                    vid.play();
                    $('.tm-btn-play').hide();
                    $('.tm-btn-pause').show();
                }
                else {
                    vid.pause();
                    $('.tm-btn-play').show();
                    $('.tm-btn-pause').hide();   
                }  
            }
       
            $(document).ready(function(){

                $('.nav-link').removeClass('active');
                $('.nav-link[href="#top"]').addClass('active');
                //Drugi tab active
                //$('.nav-link[href="#tm-section-4"]').addClass('active');



                // Google Map
                loadGoogleMap();  

                // Date Picker
                const pickerCheckIn = datepicker('#inputCheckIn');
                const pickerCheckOut = datepicker('#inputCheckOut');
                
                // Slick carousel
                setCarousel();

                $(window).resize(function() {
                  setCarousel();
                  setPageNav();
                });

                // Close navbar after clicked
                $('.nav-link').click(function(){
                    $('#mainNav').removeClass('show');
                });

                // Control video
                $('.tm-btn-play').click(function() {
                    togglePlayPause();                                      
                });

                $('.tm-btn-pause').click(function() {
                    togglePlayPause();                                      
                });

                // Update the current year in copyright
                $('.tm-current-year').text(new Date().getFullYear());                           
            });

        </script>
{% endblock %}