{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% load static %}
{% block content %}


            <div class="tm-section-2">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <br>
                            <br>
                            <h2 class="tm-section-title">Statistika</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tm-section tm-position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
                    <polygon fill="#57a13d" points="0,0  100,0  50,60"></polygon>
                </svg>
                <div class="container tm-pt-5 tm-pb-4">
                    <div class="row text-center">
                            <article class="col-sm-12 col-md-12 col-lg-12 col-xl-6 tm-article">
                            <h3 class="tm-color-primary tm-article-title-1">Transakcije</h3>
                            <div class=" " id="line_chart_div"></div>

                        </article>
                        <article class="col-sm-12 col-md-12 col-lg-12 col-xl-6 tm-article">
                            <h3 class="tm-color-primary tm-article-title-1">Potrošnja kupona</h3>
                            <div class=" " id="chart_div"></div>
                        </article>


                    </div>
                </div>
            </div>

            <div class="green-line"></div>
            <div  >
                <div class="row">
                    <div class="col text-center">
                        <br>
                        <br>
                        <h1 class="tm-color-primary2 pb-5 font-weight-bold" >Analiza i Preporuke</h1>
                    </div>
            </div>

                <div class="tm-section tm-position-relative">

                <div class="container tm-pt-3 tm-pb-4">
                    <div class="row text-center">
                            <article class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-article">
                            <i class="fa tm-fa-6x tm-color-primary tm-margin-b-20"></i>
                            <h3 class="tm-color-primary tm-article-title-1">Član 37. stav 1:</h3>
                            <p>Pored izabranih organa, u okviru TSS mogu se formirati i određena radna tela. 
                                Radna tela mogu biti organizovana, u zavisnosti od potrebe, kao stalna ili privremena. 
                                Stalna radna tela su Odbori a privremena radna tela su Komisije i Saveti.</p>
                           

                        </article>
                         <article class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-article">
                            <i class="fa tm-fa-6x tm-color-primary tm-margin-b-20"></i>
                            <h3 class="tm-color-primary tm-article-title-1">Član 37. stav 1:</h3>
                             <h4 class=" tm-color-primary tm-article-title-2">Veteranski odbor se stara o:</h4>

                            <p>Sportskom statusu teniskih veterana i ljudi koji se rekreativno bave tenisom; <br>
                                 Organizaciji veteranskih i rekreativnih turnira u zemlji i učešću u inostranstvu;<br>
                                 Delegira svoje članove u međunarodne veteranske institucije;<br>
                                 Uspostavlja saradnju sa stranim veteranskim savezima i organizacijama.</p>
                           

                        </article>
                        <article class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-article">
                            <i class="fa tm-fa-6x tm-color-primary tm-margin-b-20"></i>
                            

                            <p>Pravo učestvovanja na turnirima Teniskih Veterana Srbije, 
                                imaju žene i muškarci stariji od 35 godina, 
                                članovi Veteranske sekcije pri Teniskom Savezu Srbije.</p>
                           

                        </article>


                    </div>
                </div>
            </div>

            </div>
            <div class="green-line"></div>
            <div >
            <footer class="tm-bg-dark-blue">
                <div class="container">
                    <div class="row">
                        <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                        Copyright &copy; <span class="tm-current-year">2024</span> Melon

                    </div>
                </div>
            </footer>
        </div>
{% endblock %}



{% block scripts %}
     <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>             <!-- jQuery (https://jquery.com/download/) -->
        <script src="{% static 'js/popper.min.js' %}"></script>                    <!-- https://popper.js.org/ -->       
        <script src="{% static 'js/bootstrap.min.js' %}"></script>                 <!-- https://getbootstrap.com/ -->
        <script src="{% static 'js/datepicker.min.js' %}"></script>                <!-- https://github.com/qodesmith/datepicker -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
        <script src="{% static 'slick/slick.min.js' %}"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script><!-- http://kenwheeler.github.io/slick/ -->
        <style>
        #chart_div, #line_chart_div {
            text-align: center;  /* Horizontally center */
            margin: 0 auto;
            display: flex;
            justify-content: center;  /* Horizontally center */
            align-items: center;      /* Vertically center */
            flex-direction: column;   /* Stack charts vertically */

        }
        </style>
    <script>

            /* Google map
            ------------------------------------------------*/
            var map = '';
            var center;

            function initialize() {
                var mapOptions = {
                    zoom: 13,
                    center: new google.maps.LatLng(-23.013104,-43.394365),
                    scrollwheel: false
                };

                map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

                google.maps.event.addDomListener(map, 'idle', function() {
                  calculateCenter();
              });

                google.maps.event.addDomListener(window, 'resize', function() {
                  map.setCenter(center);
              });
            }

            function calculateCenter() {
                center = map.getCenter();
            }

            function loadGoogleMap(){
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDVWt4rJfibfsEDvcuaChUaZRS5NXey1Cs&v=3.exp&sensor=false&' + 'callback=initialize';
                document.body.appendChild(script);
            } 

            function setCarousel() {
                
                if ($('.tm-article-carousel').hasClass('slick-initialized')) {
                    $('.tm-article-carousel').slick('destroy');
                } 

                if($(window).width() < 438){
                    // Slick carousel
                    $('.tm-article-carousel').slick({
                        infinite: false,
                        dots: true,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    });
                }
                else {
                 $('.tm-article-carousel').slick({
                        infinite: false,
                        dots: true,
                        slidesToShow: 2,
                        slidesToScroll: 1
                    });   
                }
            }

            function setPageNav(){
                if($(window).width() > 991) {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 79
                    });   
                }
                else {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 65
                    });   
                }
            }

            function togglePlayPause() {
                vid = $('.tmVideo').get(0);

                if(vid.paused) {
                    vid.play();
                    $('.tm-btn-play').hide();
                    $('.tm-btn-pause').show();
                }
                else {
                    vid.pause();
                    $('.tm-btn-play').show();
                    $('.tm-btn-pause').hide();   
                }  
            }

            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

             function drawChart() {
                    // Fetch data passed from the Django view

                    // Transform chartData into the format required by Google Charts
                    const data = new google.visualization.DataTable();
                    data.addColumn('string', 'Promotion');
                    data.addColumn('number', 'Percentage Used');

                    {% for datac in chart_data %}
                        data.addRow(['{{ datac.name }}',{{ datac.value }} ]);

                    {% endfor %}

                    // Set chart options
                    const options = {
                        title: '',
                        width: '100%',
                        height: '100%',
                         animation:{
                        duration: 1000,
                        easing: 'out',
                        startup:true,
                      },
                        
                    };

                    // Instantiate and draw our chart
                    const chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                    chart.draw(data, options);

                    const data2 = new google.visualization.DataTable();

                    // Define the columns: Date, Trans Chart Data, Trans Chart Data All
                    data2.addColumn('date', 'Date');
                    data2.addColumn('number', 'Prodaja bez kupona');
                    data2.addColumn('number', 'Prodaja sa kuponima');

                    // Add rows for trans_chart_data
                    {% for trans_data in trans_chart_data %}
                      data2.addRow([new Date("{{ trans_data.date|date:'Y, M d' }}"), {{ trans_data.count }}, null]);
                    {% endfor %}

                    // Add rows for trans_chart_dataall (assuming it's in a similar format as trans_chart_data)
                    {% for trans_data in trans_chart_dataall %}
                      data2.addRow([new Date("{{ trans_data.date|date:'Y, M d' }}"), null, {{ trans_data.count }}]);
                    {% endfor %}

                    // Set chart options
                    const options2 = {
                      title: '',
                      curveType: 'function',
                      legend: { position: 'bottom' },
                      width: '100%',
                      height: '100%',
                      animation:{
                        duration: 1000,
                        easing: 'out',
                        startup:true,
                      },
                    };

                    // Instantiate and draw the line chart
                    const chart2 = new google.visualization.LineChart(document.getElementById('line_chart_div'));
                    chart2.draw(data2, options2);




                }
            $(document).ready(function(){




                $('.nav-link').removeClass('active');
                $('.nav-link[href="#top"]').addClass('active');
                //Drugi tab active
                //$('.nav-link[href="#tm-section-4"]').addClass('active');



                // Google Map

                // Date Picker
                const pickerCheckIn = datepicker('#inputCheckIn');
                const pickerCheckOut = datepicker('#inputCheckOut');

                // Slick carousel
                setCarousel();

                $(window).resize(function() {
                  setCarousel();
                  setPageNav();
                });

                // Close navbar after clicked
                $('.nav-link').click(function(){
                    $('#mainNav').removeClass('show');
                });

                // Control video
                $('.tm-btn-play').click(function() {
                    togglePlayPause();
                });

                $('.tm-btn-pause').click(function() {
                    togglePlayPause();
                });

                // Update the current year in copyright
                $('.tm-current-year').text(new Date().getFullYear());
            });


        </script>
{% endblock %}