{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% load static %}
{% block content %}

{#BITNO#}

            <div class="tm-section-2">
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <br>
                            <br>
                           <h2 class="tm-section-title">Vesti</h2>
                        </div>
                    </div>


                </div>

            </div>


{#    NIJE BITNO#}
            <div class="tm-section tm-position-relative">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
                    <polygon fill="#57a13d" points="0,0  100,0  50,60"></polygon>
                </svg>

                <div class="container tm-pt-5 tm-pb-4">
                    <div id="accordion">
                      <div class="card">
                        <div class="card-header" id="headingOne">
                          <h5 class="mb-0">
                            <button class="btn btn-link" style="color: black;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Vesti 2024
                            </button>
                          </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                          <div class="card-body">
                           <div class="row text-center">
                                <article class="media tm-margin-b-20 tm-media-1">
                                    <img src="{% static 'img/img-03.jpg' %}" alt="Image">
                                    <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                        <h3 class="tm-font-semibold  tm-article-title-3">Placanje kotizacije u slucaju nedolaska</h3>
                                        <h6>Odlukom TAKMICARSKE KOMISIJE svi igrači koji izađu u žrebu bez obzira na razlog ne dolaska na prijavljen turnir moraju uplatiti kotizacuje direktoru turnira.
                                            <br>
                                        Igračima koji to ne urade biće blokiran nalog za prijavu na ostale turnire do momenta uplate kotizacije sa turnira na koji nisu došli.
                                        <br><br></h6>
                                            <h6 class="tm-font-semibold">TAKMIČARSKA KOMISIJA
                                                Ćuprija 20.jul 2024.</h6>

                                        <a href="{% static '#' %}" class="text-uppercase tm-color-primary tm-font-semibold">Procitaj dalje...</a>

                                    </div>
                                </article>
                               <article class="media tm-margin-b-20 tm-media-1">
                                    <img src="{% static 'img/img-03.jpg' %}" alt="Image">
                                    <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                        <h3 class="tm-font-semibold  tm-article-title-3">Opomena pred iskljucenje</h3>
                                        <h6>Posle uvida u detaljni izveštaj direktora ITF veteranskog turnira Gažo Ivana održanog na terenima TK Winner od 21-24.juna 2024. a povodom više incidenata u vidu nesportskog ponašanja učesnika turnira TAKMIČARSKA KOMISIJA donosi odluku:
                                            <br>
                                        Sve aktere javno opominjemo a svima skrećemo pažnju da ćemo sledeći put povodom takvog i sličnog ponašanja odmah izricati kazne suspenzije na period u zavisnosti od težine prekršaja.
                                        Svima nam je u interesu da se držimo pravila sportskog fer ponašanja i zaštitimo sve igrače koji ih poštuju a u velikoj su većini.
                                            <br>
                                            Takmičarska komisija 02.07.2024. godine.
                                        </h6>
                                        <h6 class="tm-font-semibold">Takmičarska komisija 02.07.2024. godine.</h6>
                                        <a href="{% static '#' %}" class="text-uppercase tm-color-primary tm-font-semibold">Procitaj dalje...</a>

                                    </div>
                                </article>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link collapsed" style="color: black;" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Vesti 2023
                            </button>
                          </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                          <div class="card-body">
                              <div class="row text-center">
                                <article class="media tm-margin-b-20 tm-media-1">
                                    <img src="{% static 'img/img-03.jpg' %}" alt="Image">
                                    <div class="media-body tm-media-body-1 tm-media-body-v-center">
                                        <h3 class="tm-font-semibold  tm-article-title-3">Nesportsko ponasanje</h3>
                                        <h6>Na osnovu prijave člana takmičarske komisije u vezi sa događajima na turniru u Vršscu i izuzetno nesportskog ponašanja Dragana i Miloša Stefanovića tokom pomenutog turnira formirana je disciplinska komisija u sastavu: Ratkovic Dejan, Inic Nenad i <br> Gazo Ivan <br>Komisija je donela sledeću odluku <br>Stefanovic Dragan i Stefanovic Milos se iskljucuju iz Teniskih Veterana Srbije na sledecih 3 turnira u 2024. godini.<br>
                                        
                                        <br><br></h6>
                                            <h6 class="tm-font-semibold">TAKMIČARSKA KOMISIJA
                                                Beograd 12.10.2023.</h6>

                                        <a href="{% static '#' %}" class="text-uppercase tm-color-primary tm-font-semibold">Procitaj dalje...</a>

                                    </div>
                                </article>
                               
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                    <br><br>
                    <div class="d-flex justify-content-center"><button class="btn btn-outline-dark">Ucitaj jos</button></div>
                </div>
            </div>

            <div class="green-line"></div>


            </div>
            <div class="green-line"></div>
            <div >
            <footer class="tm-bg-dark-blue">
                <div class="container">
                    <div class="row">
                        <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                        Copyright &copy; <span class="tm-current-year">2024</span> Teniski Veterani Srbije

                    </div>
                </div>
            </footer>
        </div>
{% endblock %}


{% block scripts %}
     <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>             <!-- jQuery (https://jquery.com/download/) -->
        <script src="{% static 'js/popper.min.js' %}"></script>                    <!-- https://popper.js.org/ -->       
        <script src="{% static 'js/bootstrap.min.js' %}"></script>                 <!-- https://getbootstrap.com/ -->
        <script src="{% static 'js/datepicker.min.js' %}"></script>                <!-- https://github.com/qodesmith/datepicker -->
        <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>      <!-- Single Page Nav (https://github.com/ChrisWojcik/single-page-nav) -->
        <script src="{% static 'slick/slick.min.js' %}"></script>                  <!-- http://kenwheeler.github.io/slick/ -->
        <script>

            /* Google map
            ------------------------------------------------*/
            var map = '';
            var center;

            function initialize() {
                var mapOptions = {
                    zoom: 13,
                    center: new google.maps.LatLng(-23.013104,-43.394365),
                    scrollwheel: false
                };

                map = new google.maps.Map(document.getElementById('google-map'),  mapOptions);

                google.maps.event.addDomListener(map, 'idle', function() {
                  calculateCenter();
              });

                google.maps.event.addDomListener(window, 'resize', function() {
                  map.setCenter(center);
              });
            }

            function calculateCenter() {
                center = map.getCenter();
            }

            function loadGoogleMap(){
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDVWt4rJfibfsEDvcuaChUaZRS5NXey1Cs&v=3.exp&sensor=false&' + 'callback=initialize';
                document.body.appendChild(script);
            } 

            function setCarousel() {
                
                if ($('.tm-article-carousel').hasClass('slick-initialized')) {
                    $('.tm-article-carousel').slick('destroy');
                } 

                if($(window).width() < 438){
                    // Slick carousel
                    $('.tm-article-carousel').slick({
                        infinite: false,
                        dots: true,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    });
                }
                else {
                 $('.tm-article-carousel').slick({
                        infinite: false,
                        dots: true,
                        slidesToShow: 2,
                        slidesToScroll: 1
                    });   
                }
            }

            function setPageNav(){
                if($(window).width() > 991) {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 79
                    });   
                }
                else {
                    $('#tm-top-bar').singlePageNav({
                        currentClass:'active',
                        offset: 65
                    });   
                }
            }

            function togglePlayPause() {
                vid = $('.tmVideo').get(0);

                if(vid.paused) {
                    vid.play();
                    $('.tm-btn-play').hide();
                    $('.tm-btn-pause').show();
                }
                else {
                    vid.pause();
                    $('.tm-btn-play').show();
                    $('.tm-btn-pause').hide();   
                }  
            }
       
            $(document).ready(function(){

                $('.nav-link').removeClass('active');
                $('.nav-link[href="#top"]').addClass('active');
                //Drugi tab active
                //$('.nav-link[href="#tm-section-4"]').addClass('active');



                // Google Map
                loadGoogleMap();  

                // Date Picker
                const pickerCheckIn = datepicker('#inputCheckIn');
                const pickerCheckOut = datepicker('#inputCheckOut');
                
                // Slick carousel
                setCarousel();

                $(window).resize(function() {
                  setCarousel();
                  setPageNav();
                });

                // Close navbar after clicked
                $('.nav-link').click(function(){
                    $('#mainNav').removeClass('show');
                });

                // Control video
                $('.tm-btn-play').click(function() {
                    togglePlayPause();                                      
                });

                $('.tm-btn-pause').click(function() {
                    togglePlayPause();                                      
                });

                // Update the current year in copyright
                $('.tm-current-year').text(new Date().getFullYear());                           
            });

        </script>
{% endblock %}